@model ForumSystem.Web.ViewModels.Categories.CategoryViewModel
@{ this.ViewData["Title"] = Model.Title; }


<h1 class="display-2">@Model.Title</h1>
<button class="btn btn-primary" onclick="myFunction()"><div id="show-hide">Hide  Description</div></button>
<br />
<br />
<div id="description">
    <div class="alert alert-info">
        @Model.Description
    </div>
</div>
<form asp-controller="Categories" asp-action="ByName" method="post">
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="orderBy">Order by:</label>
            <select name="orderBy" id="order" class="form-control">
                <option value="default" selected>Choose...</option>
                <option value="tileAscending">Title Ascending</option>
                <option value="tileDescending">Title Descending</option>
                <option value="datetimeAscending">oldest</option>
                <option value="datetimeDescending">newest</option>
                <option value="commentsAscending">Comments' count Ascending</option>
                <option value="commentsDescending">Comments' count Descending</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="filter">Apply filters</label>
            <button type="submit" class="form-control btn btn-primary">Apply Filters</button>
        </div>
    </div>
</form>
<hr />
@foreach (var post in Model.ForumPosts)
{
    <div class="media-body">
        <a asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id"><h4 class="media-heading">@post.Title</h4></a>
        <p>
            @post.ShortContent
        </p>
        <ul class="list-inline list-unstyled text-right">
            <li class="list-inline-item"><i class="fas fa-user"></i> By @post.UserUserName</li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item"><i class="far fa-calendar-alt"></i> @post.CreatedOn</li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item"><i class="far fa-comment-dots"></i> @post.CommentsCount Comments</li>
        </ul>
    </div>
}
<hr />
<nav>
    <ul class="pagination justify-content-center">
        @if (Model.CurrentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>

        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-route="forumCategory"
                   asp-route-name="@this.Model.Title" asp-route-page="@(Model.CurrentPage-1)">Previous</a>
            </li>
        }
        @for (int i = Model.CurrentPage - 4; i < Model.CurrentPage; i++)
        {
            if (i > 0)
            {
                <li class="page-item">
                    <a class="page-link" asp-route="forumCategory"
                       asp-route-name="@this.Model.Title" asp-route-page="@i">@i</a>
                </li>
            }
        }
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                @Model.CurrentPage
                <span class="sr-only">(current)</span>
            </span>
        </li>
        @*@for (int i = 1; i <= Model.PagesCount; i++)
            {
                var active = i == this.Model.CurrentPage ? " active" : string.Empty;
                <li class="page-item @active">
                    <a class="page-link" asp-route="forumCategory"
                       asp-route-name="@this.Model.Title" asp-route-page="@i">@i</a>
                </li>
            }*@
        @for (int i = Model.CurrentPage + 1; i <= Model.CurrentPage + 4; i++)
        {
            if (i <= Model.PagesCount)
            {
                <li class="page-item">
                    <a class="page-link" asp-route="forumCategory"
                       asp-route-name="@this.Model.Title" asp-route-page="@i">@i</a>
                </li>
            }
        }
        @if (Model.CurrentPage == Model.PagesCount)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Next</a>
            </li>

        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-route="forumCategory"
                   asp-route-name="@this.Model.Title" asp-route-page="@(Model.CurrentPage+1)">Next</a>
            </li>
        }
    </ul>
</nav>

@section Scripts{ 
    <script>
        function myFunction() {
            var x = document.getElementById("description");
            var y = document.getElementById("show-hide");
            if (x.style.display === "none") {
                x.style.display = "block";
                y.textContent = "Hide Description";
            } else {
                x.style.display = "none";
                y.textContent="Show Description";
            }
        }
    </script>
}