@model ForumSystem.Web.ViewModels.Categories.CategoryViewModel
@{ this.ViewData["Title"] = Model.Title; }


<h1 class="display-2">@Model.Title</h1>
<div class="alert alert-info">
    @Model.Description
</div>
<div class="row">
    <div class="col">
        <label>
            Order by Name:
            <select class="input-select">
                <option value="0">Ascending</option>
                <option value="1">Descending</option>
            </select>
        </label>
    </div>
    <div class="col">
        <label>
            Order by Datetime:
            <select class="input-select">
                <option value="0">Ascending</option>
                <option value="1">Descending</option>
            </select>
        </label>
    </div>
    <div class="col">
        <label>
            Order by Comments' count:
            <select class="input-select">
                <option value="0">Ascending</option>
                <option value="1">Descending</option>
            </select>
        </label>
    </div>
</div>
<hr />
@foreach (var post in Model.ForumPosts)
{
<div class="media-body">
    <a asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id"><h4 class="media-heading">@post.Title</h4></a>
    <p>
        @post.ShortContent
    </p>
    <ul class="list-inline list-unstyled text-right">
        <li class="list-inline-item"><i class="fas fa-user"></i> By @post.UserUserName</li>
        <li class="list-inline-item">|</li>
        <li class="list-inline-item"><i class="far fa-calendar-alt"></i> @post.CreatedOn</li>
        <li class="list-inline-item">|</li>
        <li class="list-inline-item"><i class="far fa-comment-dots"></i> @post.CommentsCount Comments</li>
        <li>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
        </li>
    </ul>
</div>}
<hr />
<nav>
    <ul class="pagination justify-content-center">
        @if (Model.CurrentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li> 
        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-route="forumCategory"
                   asp-route-name="@this.Model.Title" asp-route-page="@(Model.CurrentPage-1)">Previous</a>
            </li>
        }
        @for (int i = Model.CurrentPage - 4; i < Model.CurrentPage; i++)
        {
            if (i > 0)
            {
                <li class="page-item"><a class="page-link"asp-route="forumCategory"
                   asp-route-name="@this.Model.Title" asp-route-page="@i">@i</a></li>
            }
        }
         <li class="page-item active" aria-current="page">
            <span class="page-link">
                @Model.CurrentPage
                <span class="sr-only">(current)</span>
            </span>
        </li>
        @*@for (int i = 1; i <= Model.PagesCount; i++)
        {
            var active = i == this.Model.CurrentPage ? " active" : string.Empty;
            <li class="page-item @active">
                <a class="page-link" asp-route="forumCategory"
                   asp-route-name="@this.Model.Title" asp-route-page="@i">@i</a>
            </li>
        }*@
        @for (int i = Model.CurrentPage + 1; i <= Model.CurrentPage + 4; i++)
        {
            if (i <= Model.PagesCount)
            {
                <li class="page-item"><a class="page-link" asp-route="forumCategory"
                   asp-route-name="@this.Model.Title" asp-route-page="@i">@i</a></li>
            }
        }
        @if (Model.CurrentPage == Model.PagesCount)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Next</a>
            </li> 
        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-route="forumCategory"
                   asp-route-name="@this.Model.Title" asp-route-page="@(Model.CurrentPage+1)">Next</a>
            </li>
        }
    </ul>
</nav>