@model ForumSystem.Web.ViewModels.Home.ContactsViewModel
<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media emoticons"
        ],
        height: 500
    });</script>
<section class="mb-4">
    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Send email</h2>
    <div class="row">
        <div class="col-md-9 mb-md-0 mb-5">
            <form asp-controller="Users" asp-action="SendEmail" asp-route-id="@this.Model.Id" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label asp-for="Name">Your name</label>
                            <input asp-for="Name" class="form-control">
                            <span asp-validation-for="@this.Model.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label asp-for="Email">Your email</label>
                            <input asp-for="Email" class="form-control" disabled>
                            <span asp-validation-for="@this.Model.Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label asp-for="Subject">Subject</label>
                            <input asp-for="Subject" class="form-control">
                            <span asp-validation-for="@this.Model.Subject" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <label asp-for="Message">Your message</label>
                            <textarea asp-for="Message" rows="2" class="form-control md-textarea"></textarea>
                        </div>
                    </div>
                </div>
                <br />
                <input type="submit" class="btn btn-primary" />
                <!--Grid row-->
            </form>
            @*<div class="text-center text-md-left">
                    <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
                </div>
                <div class="status"></div>*@
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li>
                    <i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>@this.Model.Address</p>
                </li>

                <li>
                    <i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>@this.Model.PhoneNumber</p>
                </li>
                <li>
                    <i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p></p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>