@using ForumSystem.Common
@model ForumSystem.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = $"Welcome to {GlobalConstants.SystemName}!";
}
<div class="text-center">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
    @*<cache expires-after="TimeSpan.FromDays(10)" vary-by-query="id">
            <h1 class="display-3">@DateTime.UtcNow</h1>
        </cache>*@
</div>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css//custom.css" rel="stylesheet" asp-append-version="true" />
</head>

<hr />
<div class="row">
    @foreach (var category in Model.Categories)
    {
        <div class="col-md-3 media p-4">
            <div class="img-image">
                <img src="@category.ImageUrl" width="150" height="100" class="mr-3" alt="@category.Title">
            </div>
            <div class="media-body">
                <h5 class="mt-0"><a href="@category.Url">@category.Title (@category.PostsCount)</a></h5>
                <p>@category.Description</p>
            </div>
        </div>
    }
</div>