@using ForumSystem.Common
@model ForumSystem.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = $"Welcome to {GlobalConstants.SystemName}!";
}
<div class="text-center">
    <h1 class="display-3">@this.ViewData["Title"]</h1>
    @*<cache expires-after="TimeSpan.FromDays(10)" vary-by-query="id">
            <h1 class="display-3">@DateTime.UtcNow</h1>
        </cache>*@
</div>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css//custom.css" rel="stylesheet" asp-append-version="true" />
</head>

<hr />
<div class="row">
    @foreach (var category in Model.Categories)
    {
        <div class="col-md-3 media p-4">
            <div class="img-image">
                <img src="@category.ImageUrl" width="150" height="100" class="mr-3" alt="@category.Title">
            </div>
            <div class="media-body">
                <h5 class="mt-0"><a href="@category.Url">@category.Title (@category.PostsCount)</a></h5>
                <p>@category.Description</p>
            </div>
        </div>
    }
</div>
<hr />
<nav>
    <ul class="pagination justify-content-center">
        @if (Model.CurrentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>

        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-route="forumHomeCategories"
                   asp-route-name="Index" asp-route-page="@(Model.CurrentPage-1)">Previous</a>
            </li>
        }
        @for (int i = Model.CurrentPage - 4; i < Model.CurrentPage; i++)
        {
            if (i > 0)
            {
                <li class="page-item">
                    <a class="page-link" asp-route="forumHomeCategories"
                       asp-route-name="Index" asp-route-page="@i">@i</a>
                </li>
            }
        }
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                @Model.CurrentPage
                <span class="sr-only">(current)</span>
            </span>
        </li>
        @*@for (int i = 1; i <= Model.PagesCount; i++)
            {
                var active = i == this.Model.CurrentPage ? " active" : string.Empty;
                <li class="page-item @active">
                    <a class="page-link" asp-route="forumCategory"
                       asp-route-name="@this.Model.Title" asp-route-page="@i">@i</a>
                </li>
            }*@
        @for (int i = Model.CurrentPage + 1; i <= Model.CurrentPage + 4; i++)
        {
            if (i <= Model.PagesCount)
            {
                <li class="page-item">
                    <a class="page-link" asp-route="forumHomeCategories"
                       asp-route-name="Index" asp-route-page="@i">@i</a>
                </li>
            }
        }
        @if (Model.CurrentPage == Model.PagesCount)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Next</a>
            </li>

        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-route="forumHomeCategories"
                   asp-route-name="Index" asp-route-page="@(Model.CurrentPage+1)">Next</a>
            </li>
        }
    </ul>
</nav>