@using ForumSystem.Common
@model ForumSystem.Web.ViewModels.Home.IndexViewModel

@{
    this.ViewData["Title"] = $"Welcome to {GlobalConstants.SystemName}!";
}

<div class="text-center">
    <h1 class="display-4">@this.ViewData["Title"]</h1>
</div>

<div class="row">
    @foreach (var category in Model.Categories)
    {
        <div class="col-md-3 media p-3">
            <img src="@category.ImageUrl" width="100" height="60" class="mr-3" alt="@category.Title">
            <div class="media-body">
                <h5 class="mt-0"><a href="@category.Url">@category.Title (@category.PostsCount)</a></h5>
                <p>@category.Description</p>
            </div>
        </div>
    }
</div>

